<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%highlight{%d{ISO8601} %-5p [%c:%F:%L] - [%t] - %m%n}{STYLE=Logback}" />
		</Console>
		<RollingFile name="RollingFile" fileName="logs/debug.log"
			filePattern="logs/debug.log.%d{MM-dd-yyyy-HH}.gz">
			<PatternLayout>
				<Pattern>%highlight{%d{ISO8601} %-5p [%c:%F:%L] - [%t] - %m%n}{STYLE=Logback}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<AsyncLogger name="com.talentica.job4j" level="DEBUG" includeLocation="true" additivity="false">
			<AppenderRef ref="RollingFile" />
		</AsyncLogger>
		<AsyncLogger name="com.talentica.job4j" level="DEBUG" includeLocation="true" additivity="false">
			<AppenderRef ref="Console" />
		</AsyncLogger>
		<AsyncLogger name="org.springframework" level="ERROR" includeLocation="true" additivity="false">
			<AppenderRef ref="RollingFile" />
		</AsyncLogger>

		<AsyncRoot level="WARN" includeLocation="true" additivity="false">
			<AppenderRef ref="RollingFile" />
		</AsyncRoot>
	</Loggers>
</Configuration>
